
.container{
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0 auto;
}
.interaction{
    width: auto;
    height: 100vh;
    padding: 7vh;
    background-color: #C6E2FF;
}

.interaction h1{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 13vw;
    color: royalblue;
    margin: 10px;
}
.interaction h2{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 4vw;
    color: #B8860B;
}
  /*Button*/

button {
    width: auto;
    height: auto;
    margin: 2em;
    padding: 3%;
    border: none;
    background-color:#B8860B;
    transition: width 0.6s, height 0.6s, background-color 0.6s, margin 0.6s;
}
.buttonVictory{
    width: 25em;
    height: 11em;
    margin: 2em;
    background-color: #5eb000;
    color: #fff;
    padding-top: 1.7em;
}

.buttonDraw{
    width: 25em;
    height: 12em;
    margin: 2em;
    background-color: #B8860B;
    color: #fff;
    padding-top: 1.7em;
}

.buttonDefeat{
    width: 25em;
    height: 12em;
    margin: 2em;
    background-color: #bd2e22;
    color: #fff;
    padding-top: 1.7em;
}
#bTitle{
    margin: 0;
    font-family: Helvetica, Arial, Sans-Serif;
    color: #fff;
    font-size: 5vw;
    display: block;
    transition: padding 0.5s, color 0.5s;
}
#bHidden{
    opacity: 0;
}
#bResult{
    transition: opacity 0.4s 0.4s;
    opacity: 1;
    font-size: 2em;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 100;
    padding-bottom: 2.5em;
    color: #fff;
    margin-top: 10px;

}
.score{
    margin: 1.5em 0;
    padding: 1em;
}
.score h2{
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: royalblue;
    display: inline;
}
.score table{
    border: 1px solid darkgreen;
    width: 100%;
    margin: 0 auto;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 250;
    font-size: 1.5em;

}
.score table p{
    display: inline;
    padding: 1vw;
}
.highScore{
    margin: 1.5em 0;
    padding: 1em;
}
.highScore h2{
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: royalblue;
    display: inline;
}
.highScores .tiny {
    font-weight: 500;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 2.5em;
    color: #B8860B;
    display: inline;
}