
.container{
    width: 80%;
    height: auto;
    text-align: center;
    margin: 0 auto;
    border-radius: 2px;
}
.header{
    margin-bottom: 0px;
}
.header h1{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 13vw;
    color: royalblue;
    margin: 10px;
}
.header h2{
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 3vw;
    color: #B8860B;
    margin: 10px;
    padding-bottom: 1em;
}
.interaction{
    width: auto;
    height: 12em;
}

    /*Button*/

button {
    padding: 1em;
    margin: 3em;
    width: 15em;
    height: 7em;
    border: none;
    background-color:#B8860B;
    transition: width 0.6s, height 0.6s, background-color 0.6s, margin 0.6s;
}
.buttonVictory{
    width: 25em;
    height: 11em;
    margin: 2em;
    background-color: #5eb000;
    color: #fff;
    padding-top: 1.7em;
}

.buttonDraw{
    width: 25em;
    height: 12em;
    margin: 2em;
    background-color: #B8860B;
    color: #fff;
    padding-top: 1.7em;
}

.buttonDefeat{
    width: 25em;
    height: 12em;
    margin: 2em;
    background-color: #bd2e22;
    color: #fff;
    padding-top: 1.7em;
}
#bTitle{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Sans-Serif;
    color: #fff;
    font-size: 4em;
    display: block;
    transition: padding 0.5s, color 0.5s;
}
#bHidden{
    opacity: 0;
}
#bResult{
    transition: opacity 0.4s 0.4s;
    opacity: 1;
    font-size: 2em;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 100;
    padding-bottom: 2.5em;
    color: #fff;
    margin-top: 10px;

}
.score{
    margin: 1.5em 0;
    padding: 1em;
}
.score h2{
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: royalblue;
    display: inline;
}
.score table{
    border: 1px solid darkgreen;
    width: 100%;
    margin: 0 auto;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 250;
    font-size: 1.5em;

}
.highScore{
    margin: 1.5em 0;
    padding: 1em;
}
.highScore h2{
    font-family: Helvetica, Arial, Sans-serif;
    font-weight: 500;
    font-size: 3em;
    color: royalblue;
    display: inline;
}
.highScores .tiny {
    font-weight: 500;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 2.5em;
    color: #B8860B;
    display: inline;
}